.body {
    font-family: Arial;
    font-size: 20px;
    background-color: whitesmoke;
    width: 100%;
    height: auto;
}

.top {
    background-color: aqua;
    width: 100%;
    height: auto;
    position: fixed;
    text-decoration: underline;
    text-align: center;
    color: black;
}

.full {
    color: whitesmoke;
    background-image: url(p1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 97%;
    height: auto;
    margin: 0% 2.5% 0% 2.5%;
}

.top-image {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 60px 20px 10px 20px;
    background-color: rgba(222, 184, 135, 0.185);
}

.top-image img {
    width: 60%;
    border-radius: 10px;
}

.h {
    text-decoration: underline;
    font-family: cursive;
    font-weight: 600;
    color: rgb(0, 183, 255);
    text-align: center;
}

.front-end {
    width: 100%;
    height: auto;
    padding: 10px 10px 20px 10px;
    font-weight: 600;
    list-style-position: inside;
    overflow: hidden;
    background-color: rgba(30, 210, 90, 0.171);
}

.front-end-div {
    width: 33%;
    height: auto;
    float: left;
    border: 50px;
    border-style: ridge;
    border-color: rgb(76, 116, 119);
    margin: 0px 0px 0px 4px;
    padding: 0px 15px 0px 0px;
}

.front-end-div:hover {
    border-color: rgb(10, 117, 51);
    background-color: teal;
    color: black;
}

.back-end {
    padding: 10px 20px 20px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
}

.back-end-top {
    width: 50%;
    height: auto;
    margin: 0% 0% 0% 37%;
    text-align: left;
}

.back-end-div {
    width: 100%;
    border-radius: 25px;
    padding: 0px 0px 0px 0px;
}

.back-end-div-other {
    float: left;
    text-align: left;
    width: 33%;
    height: 300px;
    border-radius: 25px 25px 0px 0px;
    margin: 0px 0px 0px 2px;
    border-style: outset;
    border: 35px;
    border-style: ridge;
    border-color: rgb(30, 43, 44);
}

.back-end-div-other:hover {
    background-color: antiquewhite;
    color: black;
    border-color: rgb(85, 20, 20);
}

.others {
    float: left;
    width: 40%;
    height: auto;
    text-align: left;
    margin: 0% 5% 0% 5%;
    background-color: rgba(0, 128, 128, 0.541);
}

.others-back {
    background-color: rgba(30, 48, 210, 0.102);
}

.others-list {
    width: 50%;
    float: left;
    margin: 0px 0px 0px 25%;
    padding: 0px 0px 20px 0px;
}

.others-list-youtube {
    list-style-image: url(youtube.svg);
}

.others-list-youtube img {
    width: 40px;
    height: 40px;
    background-color: rgb(107, 137, 163);
    padding: 5px 5px 5px 5px;
}

.others-list ul {
    list-style-type: square;
}

.others-list ul a {
    text-decoration: none;
    color: white;
}

.others-list ul a:hover {
    color: tomato;
}

.others-list ul a:active,
.others-list-youtube a:active {
    color: brown;
}

.others-list ul a:visited,
.others-list-youtube a:visited {
    color: burlywood;
}

.last-home {
    width: 50px;
    background-color: whitesmoke;
    float: right;
    margin-right: 5px;
}

.foot-layer {
    width: 100%;
    height: 70px;
    background-color: black;
    color: whitesmoke;
}

.foot-layer-name {
    text-align: center;
    padding: 5px;
    float: right;
    width: 25%;
}

.foot-layer-company {
    text-align: center;
    padding: 20px 0px 0px 0px;
}

.list-res {
    width: 50%;
    margin: 0px 0px 0px 25%;
    padding: 0px 0px 20px 0px;
}


/*Responsive Manually*/

@media screen and (max-width: 1000px) {
    .full {
        width: 90%;
        margin: 0px 0px 0px 5%;
    }
    .top-image {
        padding: 130px 20px 15px 20px;
    }
    .top-image img {
        width: 100%;
    }
    .front-end {
        padding: 15px 20px 0px 20px;
    }
    .front-end-div {
        width: 100%;
        margin: 0px 0px 15px 0px;
        border: 30px;
        border-style: ridge;
        border-color: rgb(76, 116, 119);
        font-size: 15px;
    }
    .back-end-top {
        width: 100%;
        margin: 0px 0px 15px 0px;
        font-size: 13px;
    }
    .back-end {
        width: 100%;
        padding: 15px 20px 0px 20px;
    }
    .back-end-div-other,
    .others {
        width: 90%;
        height: auto;
        border-radius: 25px 25px 25px 25px;
        margin: 0px 0px 15px 5%;
    }
    .others-back {
        padding: 0px 0px 20px 0px;
    }
    .foot-layer {
        height: auto;
    }
    .foot-layer-name,
    .foot-layer-company {
        width: 100%;
    }
    .list-res {
        width: 90%;
        height: auto;
        margin: 0px 5px 0px 5px;
    }
    .back-res {
        font-size: 13px;
        padding: 0px 0px 0px 0px;
        text-align: left;
        border-style: outset;
        border: 20px;
        border-style: ridge;
        border-color: rgb(30, 43, 44);
    }
}